body {
  font-family: myfont;
  background-image: url("/assets/img/fond.jpg");
}

body h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid grey;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
  background-color: beige;
}

body section {
  padding: 8rem;
}

body section #quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

body section img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
}

body section #author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid grey;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  border-radius: 10px;
  background-color: beige;
  margin-right: 25rem;
  margin-left: 25rem;
}

@font-face {
  font-family: myfont;
  src: url(/assets/Lobster/Lobster-Regular.ttf);
}
